[Desktop Entry]
Version=1.0
Name=Ros2 Docker Deployment Example
Exec=/etc/ryankuederle/ros2-app-deployment/execute.sh
Icon=/etc/ryankuederle/ros2-app-deployment/ap_icon.png
Type=Application
